<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51246/SoapService.asmx" binding="basicHttpBinding"
                bindingConfiguration="SoapServiceSoap" contract="SoapServiceLimomWay.SoapServiceSoap"
                name="SoapServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>