<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://176.31.248.121/SoapService.asmx" binding="basicHttpBinding"
                bindingConfiguration="SoapServiceSoap" contract="Soap.SoapServiceSoap"
                name="SoapServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>